name: Deploy Website

on:
  push:
    tags: ["v*"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/user/web/cnc.lipinskijakub.pl/public_html

            # Turn on maintenance mode
            php artisan down

            # New code pull
            git pull origin main

            # Backend
            composer install --no-dev --optimize-autoloader

            # Frontend build
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            nvm use 22
            npm install
            npm run build

            # Laravel commands and turn off maintenance mode
            php artisan migrate --force --no-interaction
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
            php artisan up
