name: Deploy Website

on:
  push:
    tags: ["v*"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/user/web/cnc.lipinskijakub.pl/public_html

            # Pobieranie kodu
            git pull origin main

            # Backend
            composer install --no-dev --optimize-autoloader

            # Budowanie frontendu
            nvm use 22
            npm install
            npm run build

            # Laravel
            php artisan migrate --force
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
